#HomeView {
  background-image: url("http://i.imgur.com/Nssk73Q.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute; top: 0; left: 0; height: 100%; width: 100%;
}