* {
  box-sizing: border-box;
}

/* HomeView Page (not sure if i want this anymore) */
#HomeView {
  background-image: url("http://i.imgur.com/Nssk73Q.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute; bottom: 0; left: 0; width: 100%;
  z-index: -1;
}

/* NavBar */
#Nav {
  top: 0;
  right: 0;
  height: 4em;
  width: 100%;
  /* max-height: 80px; */
  background-color: black;
  position: absolute;
}

#Nav nav {
  margin: 0 auto;
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#Nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25%;
}

#Nav a {
  color: white;
}
