* {
  box-sizing: border-box;
}

/* HomeView Page */
#HomeView {
  background-image: url("http://i.imgur.com/Nssk73Q.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute; bottom: 0; left: 0; height: 90%; width: 100%;
  z-index: -1;
}

/* NavBar */
#Nav {
  top: 0;
  right: 0;
  height: 10%;
  width: 100%;
  /* max-height: 80px; */
  background-color: black;
  position: absolute;
}

#Nav nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#Nav a {
  color: white;
}

/* Logo */
#nav-logo {
  height: 1.5em;
  width: auto;
  position: relative;
  bottom: 0.7em;
}